body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

.container {
    width: 100%;
    max-width: 1200px;
    background: #1e1e1e;
    padding: 100px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

h1, h2 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    resize: none;
    outline: none;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background: white;
    border: none;
    color: green;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff1a66;
}

#confessionList {
    margin-top: 20px;
}

.confessionItem {
    background: #2a2a2a;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 15px;
    white-space: pre-wrap;
}
.confessionTime {
    font-size: 12px;
    margin-top: 5px;
    color: #bbbbbb;
    text-align: right;
}
